# INTRODUCTION TO PYTHON
# Heading 1
## Heading 2
### Heading 3

Tanda # pada python hanya sampai 6 saja

tipe data didalam python ada 2:  
1.tipe data tunggal: int,float,bool,string  
2.tipe data majemuk->dibahas besok

InsyaAllah

pada python, variabel bersifat sensitive case.
apa itu sensitive case?besar kecilnya huruf dianggap sebagai variabel berbeda.

tipe data dalam python:  
1. tipe data tunggal
2. tipe data majemuk

## Tipe Data Tunggal  
tipe data tunggal terdiri dari:  
1. integer(int) -->bilangan bulat  
2. float -->bilangan yang ada komanya  
3. boolean(bool) -->true & false  
4. string(str)  

aturan di python ada 2 jenis, yaitu:  
1. aturan strict --> jika dilanggar maka coding akan error.  
(i) penamaan variabel, function, dan class tidak boleh menggunakan spasi.  
3 cara pengganti spasi:  
a. Camel case: namaSaya --> untuk function/class     
b. Pascal case: NamaSaya --> untuk function/class    
c. Snake case: nama_saya --> untuk variabel    
(ii) Variabel boleh mengandung angka tetapi angka tidak boleh dituliskan di paling depan.  
2. Aturan tidak tertulis/kesepakatan --> jika dilanggar coding tidak akan error.  
contoh:  
penamaan variabel boleh memilih camel case, pascal case, ataupun snake case.

In [1]:
# Daftar Tipe Data Tunggal  
my_int = 8  
my_float = 1.2
my_bool = True
my_string = 'Ayuni'

In [2]:
print(my_bool)

True

Pada Python char dan string tidak dibedakan.  
string adalah kumpulan character.

In [3]:
type('a')

str

## Operasi Pada Data Tunggal
1. Operasi aritmatika --> digunakan untuk data numerik (int, float, bool)  
2. operasi string  
3. operasi perbandingan  
4. operasi logika

### Operasi Aritmatika
Aritmatika yaitu apabila 2 buah bilangan dioperasikan akan menghasilkan bilangan yang baru.

In [4]:
print(3 + 5) # penjumlahan
print(3 - 5) # pengurangan
print(3 * 5) # perkalian
print(3 / 5) # pembagian
print(3 // 5) # operasi floor, mengambil bagian integer dari hasil bagi
print(12 % 5) # modulus, sisa hasil bagi
print (4 ** 2) # pangkat

8
-2
15
0.6
0
2
16

Operasi string:  
1. Concatenation  
2. Perkalian --> berbeda dengan di numerik

In [5]:
# Concatenation
'Ayuni ' + 'Sasi' +' Kirana'

'Ayuni Sasi Kirana'

In [6]:
print('Ayuni ' + 'Sasi' +' Kirana')

Ayuni Sasi Kirana

In [7]:
'Yoasobi' + 2

TypeError: can only concatenate str (not "int") to str

In [8]:
# Perkalian dalam string
'Yoasobi ' * 2

'Yoasobi Yoasobi '

In [9]:
'Yoasobi ' * 'a'

TypeError: can't multiply sequence by non-int of type 'str'

### Operasi Perbandingan
operasi perbandingan menghasilkan /outputnya berupa bool

In [10]:
print(2 == 2) # == likes in math, e.g. 1+1=2
print(2 < 3) # kurang dari
print(2 <= 2) # kurang dari sama dengan
print(2 > 4) # lebih dari
print(5 >= 4) # lebih dari sama dengan
print(5 != 7) # tidak sama dengan

True
True
True
False
True
True

In [13]:
# Pengecekan
nama = 'Teknik Komputer'
print('e' in nama)

True

In [14]:
nama = 'Teknik Komputer'
print('E' in nama)

False

### Operasi Logika
Operasi Logika dikhususkan untuk boolean, tapi bisa juga digunakan untuk operasi perbandingan karena operasi perbandingan menghasilkan type data bool.  
operasi logika --> and & or  
and --> seperti perkalian  
or --> seperti penjumlahan

In [16]:
True and False

False

In [17]:
1 < 2 or False

True

In [19]:
True or False and True or True

True

### String

In [20]:
# mengecek jumlah elemen pada string
my_name = 'Ayuni Sasi Kirana'
len(my_name) # len = length

17

Selecting dalam Python dimulai dari indeks 0 kalau dari depan, kalau dari belakang dimulai indeks-1

In [21]:
print(my_name)

Ayuni Sasi Kirana

In [22]:
# Selecting
my_name[2]

'u'

In [23]:
my_name[-7]

' '

Slicing  --> untuk mengambil substring  
slicing menggunakan [a : b]  
a adalah indeks awal  
b adalah indeks akhir, tapi tidak ikut.

In [24]:
print(my_name)

Ayuni Sasi Kirana

In [25]:
# Slicing
my_name[1 : 5]

'yuni'

In [26]:
my_name[-2 : -1]

'n'

In [28]:
my_name[ : 3]

'Ayu'

In [29]:
my_name[0 : ]

'Ayuni Sasi Kirana'

In [30]:
my_name[ : ]

'Ayuni Sasi Kirana'

Lompatan dalam Slicing secara default adalah 1, tetapi kita bisa request terkait jumlah lompatan, maka gunakan:  
[a : b : c]  
a adalah indeks awal  
b adalah indeks akhir tapi tidak ikut  
c adalah lompatan slicing

In [32]:
print(my_name)

Ayuni Sasi Kirana

In [34]:
my_name[1 : 8 : 2]

'yn a'

String Formatting adalah sebuah metode untuk memasukkan sebuah nilai yang ada didalam variabel ke dalam string

In [35]:
# String Formatting
template = 'Nama Saya {}'
template.format("Ayuni")

'Nama Saya Ayuni'

In [37]:
template = 'Nama Saya {}, Usia Saya {}'
template.format("Ayuni",17)

'Nama Saya Ayuni, Usia Saya 17'

In [40]:
angka = 2
print('angka dikali 7 sama dengan angka*7')

angka dikali 7 sama dengan angka*7

In [41]:
print('{angka} dikali 7 sama dengan {angka*7}')

{angka} dikali 7 sama dengan {angka*7}

In [43]:
print(f'{angka} dikali 7 sama dengan {angka*7}')

2 dikali 7 sama dengan 14

## Data Majemuk
Jenis data majemuk diantaranya:  
1. Tuple  
2. List  
3. Dictionary  
4. Set

### Tuple
Tuple adalah tipe data inmutable.  
Inmutable adalah tipe data yang tidak bisa diubah.  
Tuple hanya bisa digunakan untuk keperluan membaca saja

In [2]:
my_tuple = (1, 2, 4.0, 'Ayuni', (1,2,3))

### List
List adalah tipe data mutable.  
Mutable adalah tipe data yang bisa diubah, sehingga dinamis.

In [3]:
my_list = [7, 8.2, 'Anna', (9,6,5), [12,3,4]]

In [4]:
# Kesamaan antara List dengan Tuple
# Selecting
print(my_tuple)
print(my_list)

(1, 2, 4.0, 'Ayuni', (1, 2, 3))
[7, 8.2, 'Anna', (9, 6, 5), [12, 3, 4]]

In [5]:
my_tuple[2]

4.0

In [6]:
my_list[-2]

(9, 6, 5)

In [7]:
my_list[1]

8.2

In [8]:
print(my_tuple)
print(my_list)

(1, 2, 4.0, 'Ayuni', (1, 2, 3))
[7, 8.2, 'Anna', (9, 6, 5), [12, 3, 4]]

In [9]:
#Slicing
my_list[1 : 4]

[8.2, 'Anna', (9, 6, 5)]

In [11]:
my_tuple[ : 4]

(1, 2, 4.0, 'Ayuni')

In [12]:
print(my_list)

[7, 8.2, 'Anna', (9, 6, 5), [12, 3, 4]]

In [16]:
# Perbedaan antara tuple dengan list
# Menambahkan data
my_list[2] = 'Yui' # 2 menunjukan indeks yang akan diubah nilainya

In [14]:
print(my_list)

[7, 8.2, 'Yui', (9, 6, 5), [12, 3, 4]]

In [15]:
print(my_tuple)

(1, 2, 4.0, 'Ayuni', (1, 2, 3))

In [18]:
my_tuple[3] = 'sasi' # tuple bersifat inmutable jadi tidak bisa diubah

TypeError: 'tuple' object does not support item assignment

In [20]:
print(my_tuple)
print(my_list)

(1, 2, 4.0, 'Ayuni', (1, 2, 3))
[7, 8.2, 'Yui', (9, 6, 5), [12, 3, 4]]

In [22]:
len(my_tuple) # len = length

5

In [23]:
len(my_list) # len = length

5

In [24]:
# Menambah item atau data pada list
print(my_list)

[7, 8.2, 'Yui', (9, 6, 5), [12, 3, 4]]

In [27]:
my_list.append('Ayuni') # Tambahan akan diletakkan pada indeks paling akhir

In [26]:
print(my_list)

[7, 8.2, 'Yui', (9, 6, 5), [12, 3, 4], 'Ayuni']

In [28]:
my_list.insert(3, 'Sasi')

In [29]:
print(my_list)

[7, 8.2, 'Yui', 'Sasi', (9, 6, 5), [12, 3, 4], 'Ayuni', 'Ayuni']

In [32]:
tambahan = ['Indah', 'Sasi', 'Yuki']
my_list.append(tambahan)
print(my_list)

[7, 8.2, 'Yui', 'Sasi', (9, 6, 5), [12, 3, 4], 'Ayuni', 'Ayuni', ['Indah', 'Sasi', 'Yuki']]

In [33]:
my_list.extend(tambahan)
print(my_list)

[7, 8.2, 'Yui', 'Sasi', (9, 6, 5), [12, 3, 4], 'Ayuni', 'Ayuni', ['Indah', 'Sasi', 'Yuki'], 'Indah', 'Sasi', 'Yuki']

In [35]:
# List menggunakan operasi concatenation dan perkalian
list_baru = [4.5, 7, (2, 3, 1), 'Anna', [2.2, 5, 8]]
list_baru2 = [5.7, 13, 'Seblak']
# Concatenation
list_baru + list_baru2
print(list_baru + list_baru2)

[4.5, 7, (2, 3, 1), 'Anna', [2.2, 5, 8], 5.7, 13, 'Seblak']

In [37]:
print(list_baru2 * 2)

[5.7, 13, 'Seblak', 5.7, 13, 'Seblak']

Menghapus element pada list dapat menggunakan dua cara:  
1. .remove() --> tanpa menuliskan element yang akan dihapus    
2. del <variable>[nomor indeks]

In [38]:
print(list_baru)

[4.5, 7, (2, 3, 1), 'Anna', [2.2, 5, 8]]

In [40]:
list_baru.remove(7)

In [41]:
print(list_baru)

[4.5, (2, 3, 1), 'Anna', [2.2, 5, 8]]

In [42]:
del list_baru[-1]

In [43]:
print(list_baru)

[4.5, (2, 3, 1), 'Anna']

In [44]:
list_baru.pop()

'Anna'

In [46]:
print(list_baru)

[4.5, (2, 3, 1)]

### Dictionary
Sebuah tipe data yang merupakan pasangan key-value

In [47]:
biodata = {'Nama': 'Sasi', 'Usia': 20}
print(biodata)

{'Nama': 'Sasi', 'Usia': 20}

In [48]:
biodata['Nama']

'Sasi'

In [50]:
biodata['Usia']

20

In [51]:
biodata.keys()

dict_keys(['Nama', 'Usia'])

In [52]:
biodata.values()

dict_values(['Sasi', 20])

In [54]:
# Mengubah value dari nama, yaitu dari Sasi menjadi Budi
biodata['Nama'] = 'Budi'

In [55]:
print(biodata)

{'Nama': 'Budi', 'Usia': 20}

In [56]:
# Menambah entity dari dictionary
biodata['Cita-cita'] = 'Kapal Laut'

In [57]:
print(biodata)

{'Nama': 'Budi', 'Usia': 20, 'Cita-cita': 'Kapal Laut'}

In [59]:
# Menghapus Entity
del biodata['Usia']

In [60]:
print(biodata)

{'Nama': 'Budi', 'Cita-cita': 'Kapal Laut'}

### Set
Set = Himpunan
Operasi pada Set adalah Union (gabungan) dan Intersection (Irisan)

In [61]:
my_set = {1, 1, 2, 3, 4, 4, 4, 7}
print(my_set)

{1, 2, 3, 4, 7}

In [62]:
# Operasi gabungan
set1 = {1, 3, 5, 7, 9, 11}
set2 = {3, 6, 9, 12}

set1.union(set2)

{1, 3, 5, 6, 7, 9, 11, 12}

In [63]:
set1.intersection(set2)

{3, 9}

In [42]:
# Variabel dalam python
a = 7    # a adalah variabel, = adalah item assignment

In [3]:
print(a)

7

In [4]:
type(a)

int

In [5]:
print("hello word")

hello word

In [1]:
a = 1.2
print(a)
type(a)

1.2

float

In [2]:
print("hello world")

hello world

In [3]:
print('hello python') #single quote

hello python

In [4]:
print("hello world!") #double quote

hello world!

In [5]:
print('a')

a

In [6]:
print(10)

10

In [7]:
print(10)
print(type(10))

10
<class 'int'>

In [8]:
print('10')
print(type('10'))

10
<class 'str'>

In [9]:
print(.2)
print(type(.2))

print(.4e7)
print(type(.4e7))

print(4.2e-4)
print(type(4.2e-4))

0.2
<class 'float'>
4000000.0
<class 'float'>
0.00042
<class 'float'>